*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */

body {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 137%;
    color: #848282;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1176px;
    margin: 0px auto;
    padding: 50px 15px;
}

.title {
    margin-bottom: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 52px;
    font-weight: 800;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #43cec6;
}

.subtitle {
    margin-bottom: 30px;
    font-family: "Gabriela", serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 127%;
    color: #162c5a;
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: #ffd223;
    line-height: 1;
    font-size: 12px;
    font-weight: 800;
    padding: 16px 32px 14px;
    font-family: nunito, sans-serif;
    text-transform: uppercase;
    color: #162c5a;
}

.button:hover {
    background-color: #162c5a;
    color: #f7f7f7;
    transition: 0.3s;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }

    body {
        font-size: 13px;
    }

    .title {
        margin-bottom: 40px;
        font-size: 48px;
    }

    .subtitle {
        margin-bottom: 25px;
        font-size: 28px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 40px 15px;
    }

    .button {
        padding: 14px 20px 13px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    [class*="__container"] {
        padding: 30px 15px;
    }

    .title {
        margin-bottom: 25px;
        font-size: 32px;
    }

    .subtitle {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .button {
        padding: 14px 20px 13px;
    }
}

/* ============================Header========================================= */

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #ffffff;
    box-shadow: 40px 15px 100px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding: 0px 15px;
}

.navbar__wrap {
    display: flex;
    min-height: 90px;
    align-items: center;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.header__logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.header__menu {
    display: flex;
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.menu__link {
    font-size: 14px;
    color: #a1a1a1;
}

.menu__link:hover {
    color: #43cec6;
    transition: 0.3s;
}

.header__button:hover {
    background-color: #43cec6;
}

/* TABLET */

@media (max-width: 991.98px) {
    /* ================BURGER=============== */

    .menu__list {
        display: none;
    }

    .header__button {
        margin-right: 20px;
        margin-left: 30px;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 10px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 4px auto;
        background-color: #162c5a;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 150px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #43cec6;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0px;
    }

    .popup {
        position: fixed;
        top: 90px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #43cec6;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup .menu__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .popup .menu__item {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .popup .menu__link {
        font-size: 18px;
        font-weight: 500;
        color: #f9f9f9;
    }

    .popup .menu__link:hover {
        color: #162c5a;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }
}

/* MOBILE */

@media (max-width: 767.98px) {
    .navbar__wrap {
        min-height: 120px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .navbar__wrap {
        min-height: 75px;
    }

    .popup {
        top: 75px;
    }
}

/* =========================bg=================================== */

.bg {
    min-width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/family-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.bg:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.29);
    background: linear-gradient(to right, #43cec7, 30%, #43cec700);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bg__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bg__main {
    position: relative;
    flex: 0 1 60%;
    z-index: 21;
    margin-top: 130px;
}

.bg__main-label {
    font-family: "Gabriela", serif;
    font-size: 46px;
    font-weight: 600;
    font-style: normal;
    color: #f8f8f8;
    text-transform: uppercase;
    z-index: 20;
}

.bg__main-title {
    width: 540px;
    font-family: "Gabriela", serif;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    line-height: 147%;
    color: #f8f8f8;
    text-transform: uppercase;
    z-index: 20;
}

.bg__container span {
    color: #ffd223;
}

.bg__button {
    z-index: 20;
    margin-top: 30px;
    position: relative;
}

/* PC */
@media (max-width: 1087px) {
    .bg {
        height: 500px;
    }

    .bg__main {
        margin-top: 80px;
    }

    .bg__main-label {
        font-size: 42px;
    }

    .bg__main-title {
        width: 480px;
        font-size: 34px;
    }

    .bg__button {
        margin-top: 30px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    .bg {
        height: 450px;
    }

    .bg__main {
        margin-top: 80px;
    }

    .bg__main-label {
        font-size: 40px;
    }

    .bg__main-title {
        width: 450px;
        font-size: 32px;
    }

    .bg__button {
        margin-top: 10px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    .bg {
        height: 300px;
    }

    .bg__main {
        margin-top: 65px;
    }

    .bg__main-label {
        font-size: 34px;
    }

    .bg__main-title {
        width: 390px;
        font-size: 28px;
    }

    .bg__button {
        display: none;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .bg {
        min-width: 100%;
        height: 300px;
        background-image: url(../img/bg_mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .bg:before {
        background: linear-gradient(to right, #43cec7, 0%, #43cec798);
    }

    .bg__main {
        margin-top: 85px;
    }

    .bg__main-label {
        font-size: 30px;
    }

    .bg__main-title {
        width: 330px;
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .bg__main-title {
        width: 300px;
        font-size: 22px;
    }
}

/* =========================About us======================================= */

.about-us__container {
    display: flex;
    flex-direction: column;
}

.about-us__content {
    display: flex;
    flex-direction: column;
}

.about-us__content p {
    text-indent: 40px;
    text-align: justify;
}

.about-us__content p:not(:last-child) {
    padding: 0 0 20px;
}

.about-us__content p:nth-child(3) {
    padding: 0 0 0px;
}

.aboutus1_solution {
    padding-top: 60px;
}

.aboutus1_result {
    padding-top: 60px;
}

.idea_li {
    list-style-type: circle;
    flex: 1 1 200px;
}

.result_li {
    list-style-type: circle;
}

.aboutus1-item1 img {
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin: 0 0 1em 1em;
    padding-bottom: 100px;
    display: flex;
}

.aboutus1-item img {
    max-width: 100%;
    max-height: 100%;
}

.aboutus1-item img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.02);
}

.aboutus1-item1 img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.02);
}

.aboutus1__button {
    text-align: center;
}

.about-us__button {
    display: none;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .about-us__content p:not(:last-child) {
        padding: 0 0 15px;
    }

    .about-us__button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/* =========================DIRECTIONS=================================== */

.directions__container {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.directions__content {
    display: flex;
    justify-content: center;
    position: relative;
}

.directions__center {
    position: absolute;
    bottom: 22%;
    width: 250px;
    height: 290px;
    background-image: url(../img/directions/girl.jpg);
    background-repeat: no-repeat;
    background-size: 250px, 290px;
    background-size: contain;
    background-position: top;
    text-align: center;
    border-radius: 50%;
}

.directions_wrapper {
    position: relative;
    height: 570px;
    width: 450px;
    text-align: center;
}

.directions__text {
    color: #162c5a;
    font-family: "Gabriela", serif;
    font-size: 12px;
    position: relative;
    top: 225px;
}

.cards_wrapper {
    position: absolute;
    top: -10px;
    left: calc(50% - 75px);
    height: 50%;
    transform-origin: 50% 85%;
}

.cards_wrapper:nth-child(1) {
    transform: rotate(36deg);
}

.cards_wrapper:nth-child(2) {
    transform: rotate(72deg);
}

.cards_wrapper:nth-child(3) {
    transform: rotate(108deg);
}

.cards_wrapper:nth-child(4) {
    transform: rotate(144deg);
}

.cards_wrapper:nth-child(5) {
    transform: rotate(180deg);
}

.cards_wrapper:nth-child(6) {
    transform: rotate(216deg);
}

.cards_wrapper:nth-child(7) {
    transform: rotate(252deg);
}

.cards_wrapper:nth-child(8) {
    transform: rotate(288deg);
}

.cards_wrapper:nth-child(9) {
    transform: rotate(324deg);
}

.cards_wrapper:nth-child(10) {
    transform: rotate(360deg);
}

.card {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 140px;
    transform-origin: 50% 10px;
}

.cards_wrapper:nth-child(1) .card {
    transform: rotate(-36deg);
}

.cards_wrapper:nth-child(2) .card {
    transform: rotate(-72deg);
}

.cards_wrapper:nth-child(3) .card {
    transform: rotate(-108deg);
}

.cards_wrapper:nth-child(4) .card {
    transform: rotate(-144deg);
}

.cards_wrapper:nth-child(5) .card {
    transform: rotate(-180deg);
}

.cards_wrapper:nth-child(6) .card {
    transform: rotate(-216deg);
}

.cards_wrapper:nth-child(7) .card {
    transform: rotate(-252deg);
}

.cards_wrapper:nth-child(8) .card {
    transform: rotate(-288deg);
}

.cards_wrapper:nth-child(9) .card {
    transform: rotate(-324deg);
}

.cards_wrapper:nth-child(10) .card {
    transform: rotate(-360deg);
}

.card_img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .card_img {
        width: 50px;
        height: 50px;
    }

    .card {
        height: 100px;
        width: 110px;
    }

    .cards_wrapper {
        left: calc(50% - 50px);
        top: -10px;
        height: 23%;
        transform-origin: 50% 185%;
        line-height: 10px;
    }

    .directions__center {
        bottom: 18%;
    }

    .directions_wrapper {
        height: 470px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .card_img {
        width: 40px;
        height: 40px;
    }

    .directions__center {
        bottom: 34%;
        width: 135px;
        height: 143px;
        background-size: 150px, 190px;
    }

    .card {
        height: 50px;
        width: 50px;
        transform-origin: 50% 10px;
    }

    .cards_wrapper {
        left: calc(50% - 27px);
        top: 5px;
        height: 24%;
        transform-origin: 50% 178%;
        font-size: 9px;
        line-height: 10px;
    }

    .directions__text {
        font-size: 9px;
        position: relative;
        top: 135px;
        line-height: 12px;
    }

    .directions_wrapper {
        height: 330px;
    }
}

/* =========================News======================================= */

.news {
    background-image: url(../img/numbered_services_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__title {
    text-align: center;
    color: #f7f7f7;
}

.news__subtitle {
    text-align: center;
}

.news__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.news__item {
    flex: 0 0 30%;
}

.item-news {
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.item-news:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    margin-top: -0px;
}

.item-news__image {
    cursor: pointer;
    position: relative;
}

.item-news__image:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(136, 129, 129, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all .3s;
}

.item-news__image:hover:before {
    background-color: rgba(255, 255, 255, 0);
}

.item-news__image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.item-news__title {
    display: flex;
    flex: 1 1 auto;
    font-family: "Gabriela", serif;
    color: #162c5a;
    line-height: 117%;
    text-align: center;
    padding: 20px 30px 0;
}

.item-news__data {
    letter-spacing: 1px;
}

.item-news__title:hover {
    color: #43cec6;
    cursor: pointer;
    transition: 0.3s;
}

.news__button {
    margin-top: 60px;
}

/* PC */
@media (max-width: 1087px) {
    .item-news__image img {
        height: 220px;
    }

    .item-news__title {
        padding: 20px 20px 0;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    .news__items {
        gap: 20px;
    }

    .news__item {
        flex: 0 1 48%;
    }

    .item-news__image img {
        height: 250px;
    }

    .news__button {
        margin-top: 50px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {

    .news__item {
        flex: 0 1 100%;
        padding: 0;
    }

    .item-news__image img {
        max-height: 320px;
    }

    .item-news__data {
        padding-bottom: 20px;
    }

    .news__button {
        margin-top: 20px;
    }
}

/* =========================Team======================================= */

.team__title {
    text-align: center;
}

.team__items {
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.3%;
    border-radius: 10px;
}

.item-team {
    text-align: center;
}

.item-team:nth-child(1),
.item-team:nth-child(2),
.item-team:nth-child(3) {
    text-align: center;
    margin-bottom: 30px;
}

.item-team:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.item-team__image {
    padding-left: 10px;
    padding-right: 10px;
}

.team__image {
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.team__image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.item-team__title {
    display: flex;
    flex: 0 0 110px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-bottom: 0;
}

.item-team__title:hover {
    color: #43cec6;
    cursor: pointer;
}

.item-team__text {
    opacity: 0.9;
    padding: 0 20px 10px 20px;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .team__item {
        flex: 0 1 50%;
        position: relative;
        padding-bottom: 0px;
    }

    .item-team:hover {
        box-shadow: none;
    }

    .item-team__title {
        flex: 0 0 110px;
    }

    .item-team:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .team__item {
        flex: 0 1 100%;
        position: relative;
        width: calc(100% + 30px);
        overflow: hidden;
        flex-direction: column-reverse;
        display: flex;
    }

    .item-team__title {
        flex: 0 0 auto;
        padding: 10px 0 20px 0;
    }

    .item-team__title {
        padding: 10px 0 20px 0;
    }

    .item-team__text {
        display: none;
    }

    .item-team:hover {
        box-shadow: none;
    }

    .team__image:hover {
        transform: scale(1);
    }
}

/* =========================projects======================================= */

.projects__items {
    display: flex;
    flex-wrap: wrap;
}

.project__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    align-items: center;
}

.item-project {
    text-align: center;
    /* text-align: justify; */
}

.item-project__square {
    height: 10px;
    width: 10px;
    background-color: pink;
    margin-bottom: 20px;
}

.item-project__square_yellow {
    background-color: #ffd223;
}

.item-project span {
    color: #162c5a;
    font-weight: bold;
}

.project__image {
    max-width: 100%;
    height: 110px;
    object-fit: contain;
    margin-bottom: 30px;
}

.item-project__title.subtitle {
    margin-bottom: 20px;
}

.item-project__text {
    flex: 1 1 auto;
    padding: 0px 30px 20px 30px;
}

.item-project__text-bottom {
    flex: 0 0 auto;
    padding: 0 30px 0 30px;
    color: #162c5a;
    font-weight: bold;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .projects__items {
        justify-content: center;
    }

    .project__item {
        flex: 0 1 50%;
    }

    .project__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .item-project__square {
        margin-bottom: 15px;
    }

    .project__image {
        margin-bottom: 20px;
    }

    .project__image_active {
        width: 90%;
    }

    .item-project__title.subtitle {
        margin-bottom: 15px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {

    .project__item {
        flex: 0 1 100%;
    }

    .item-project__text {
        padding: 0 0 20px;
    }

    .project__image_active {
        width: 80%;
    }
}

/* =========================Video======================================= */

.video__title {
    text-align: center;
}

.video__content {
    width: 100%;
    max-width: 780px;
    margin: auto;
}

#video {
    width: 100%;
    position: relative;
}

#video-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#video-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ffd223;
    box-shadow: 0 0 0 4px #ffd223;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: opacity, visibility;
}

#video-play::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 21px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left-color: #162c5a;
    border-right-width: 0;
    transition: transform 0.2s ease;
}

#video-play:hover::before {
    transform: scale(1.2);
    border-left-color: #f2f2f2;
    transition: 0.3s;
}

#video video {
    width: 100%;
    display: block;
}

#video.video-is-playing #video-over {
    display: block;
}

#video.video-is-playing #video-play {
    opacity: 0;
    visibility: hidden;
}

#video-play:hover {
    background-color: #162c5a;
    box-shadow: 0 0 0 4px #162c5a;
    transition: 0.3s;
}

#myVideo {
    border-radius: 10px;
}

/* =========================Certificates=================================== */

.certificates__container {
    text-align: center;
}

.certificates_body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.certificate-item {
    height: 100%;
    overflow: hidden;
    flex-basis: 24%;
}

.certificate-item img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.06);
}

.certificate-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.certificate-item:nth-child(5),
.certificate-item:nth-child(6),
.certificate-item:nth-child(7),
.certificate-item:nth-child(8),
.certificate-item:nth-child(9),
.certificate-item:nth-child(10) {
    display: none;
}

/* TABLET */
@media (max-width: 991.98px) {
    .certificate-item {
        flex-basis: 30%;
    }

    .certificate-item:nth-child(4) {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    .certificates__container {
        padding: 30px 15px;
    }

    .certificates_body {
        padding: 0;
    }

    .certificate-item {
        flex-basis: 47%;
    }

    .certificate-item:nth-child(3),
    .certificate-item:nth-child(6),
    .certificate-item:nth-child(7),
    .certificate-item:nth-child(8) {
        display: none;
    }
}

@media (max-width: 479.98px) {
    .certificates_body {
        flex-wrap: wrap;
        gap: 30px;
    }

    .certificate-item {
        flex-basis: 100%;
    }

    .certificate-item:nth-child(3) {
        display: block;
    }
}

/* =========================Contacts======================================= */

.contacts__container {
    display: flex;
    justify-content: space-between;
}

.contacts__content {
    flex: 0 0 45%;
    margin: 0 40px 0 0;
}

.contacts__title {
    text-align: left;
}

.contacts__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-contacts:not(:last-child) {
    margin: 0 0 22px 0;
}

.menu-contacts__title {
    font-weight: 800;
    text-transform: uppercase;
}

.menu-contacts__address {
    font-style: normal;
}

.tel {
    font-weight: 800;
    color: #ffd223;
}

.tel:hover {
    color: #162c5a;
    transition: 0.3s;
}

.email {
    font-weight: 800;
    color: #a1a1a1;
}

.email:hover {
    color: #162c5a;
    transition: 0.3s;
}

.contacts__maps {
    flex: 1 1 45%;
}

/* TABLET */
@media (max-width: 991.98px) {
    .contacts__container {
        flex-direction: column;
        display: flex;
    }

    .contacts__content {
        flex: 1 1 100%;
        margin: 0 0 40px 0;
    }

    .contacts__maps {
        flex: 1 1 400px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .contacts__maps {
        flex: 1 1 300px;
    }
}

/* =========================Footer======================================= */

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.footer__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.footer__menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-footer {
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    justify-content: center;
}

.menu-footer__list {
    display: flex;
    justify-content: center;
}

.menu-footer__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.menu-footer__link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #a1a1a1;
}

.menu-footer__link:hover {
    color: #162c5a;
    transition: 0.3s;
}

.footer__social {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.social__item {
    width: 49px;
    height: 49px;
    background-color: #ffd223;
    border-radius: 50%;
    position: relative;
}

.icon {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 30px;
    height: 30px;
    fill: #162c5a;
}

.social__item:not(:last-child) {
    margin: 0 30px 0 0;
}

.social__item:hover {
    background-color: #162c5a;
    transition: 0.3s;
}

.icon:hover {
    fill: white;
}

.footer__copyright {
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .footer__logo {
        width: 60px;
        height: 60px;
    }

    .menu-footer__item:not(:last-child) {
        margin: 0 20px 0 0;
    }

    .menu-footer__link {
        font-size: 12px;
    }

    .social__item {
        width: 28px;
        height: 28px;
    }

    .icon {
        top: 5px;
        left: 5px;
        width: 18px;
        height: 18px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .menu-footer__list {
        flex-wrap: wrap;
    }

    .menu-footer__item:not(:last-child) {
        margin: 0 10px 0 0;
    }
}

#news__link {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

#contacts__link {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

/* ========================= Page About-us Author======================================= */

.objective {
    margin-top: 90px;
}

.objective__container {
    padding: 50px 15px 20px;
}

.objective-project {
    display: flex;
}

.project-image {
    flex: 0 0 30%;
    position: relative;
    min-height: 400px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 0 0 0 40px;
}

.title-small {
    margin-bottom: 0px;
    font-size: 40px;
}

.subtitle-small {
    font-size: 26px;
    margin-bottom: 15px;
}

.subtitle-blue {
    margin-bottom: 15px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    color: #1DB6AE;
}

.subtitle-contact {
    margin-top: 40px;
    font-weight: 800;
    color: #162C5A;
}

.project-content li {
    list-style-image: url(../img/author/square.jpg);
    margin: 0 0 15px 20px;
    padding-left: 5px;
    text-align: justify;
}

/* PC */
@media (max-width: 1087px) {
    .project-image {
        flex: 0 0 40%;
    }

    .subtitle-contact {
        margin-top: 40px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {

    .objective__container {
        padding: 50px 15px 10px;
    }


    .project-image {
        flex: 0 0 40%;
    }

    .project-content {
        padding: 0 0 0 30px;
    }

    .title-small {
        font-size: 38px;
    }

    .subtitle-small {
        font-size: 24px;
    }

    .subtitle-contact {
        margin-top: 10px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    .objective {
        margin-top: 75px;
    }

    .objective__container {
        padding: 40px 15px 10px;
    }

    .objective-project {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-image {
        flex: 0 1 100%;
        object-fit: cover;
        background-image: url(../img/author/nm-mobile.jpg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: top;
        margin-bottom: 20px;
    }

    .project-image img {
        display: none;
    }

    .project-content {
        padding: 0;
    }

    .title-small {
        text-align: center;
    }

    .subtitle-small {
        text-align: center;
        margin-bottom: 15px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {

    .objective__container {
        padding: 30px 15px 0px;
    }

    .objective-project {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-image {
        flex: 0 1 100%;
        max-height: 400px;
        background-size: 120%;
    }

    .project-image img {
        display: none;
    }

    .title-small {
        font-size: 34px;
    }

    .subtitle-small {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

/* MOBILE SMALL */
@media (max-width: 350px) {
    .project-image {
        flex: 0 1 100%;
        background-size: 130%;
    }

    .title-small {
        font-size: 34px;
    }

    .subtitle-small {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

/* ========================= Page About-us Relevance======================================= */

.relevance__container {
    display: flex;
    padding: 40px 0px 0px 0px;
}

.relevance__body {
    flex: 1 1 auto;
    padding: 0px 30px 0px 0px;
}

.relevance__image {
    flex: 0 0 50%;
    position: relative;
    min-height: 300px;
}

.relevance__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.relevance__mobile-subtitle {
    display: none
}

.relevance__list li {
    list-style-image: url(../img/author/square.jpg);
    margin: 0 0 0 20px;
    padding-left: 5px;
    text-align: justify;
}

.relevance__list li:not(:last-child) {
    padding-bottom: 15px;
}

/* TABLET */
@media (max-width: 991.98px) {

    .relevance__subtitle {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .relevance__container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 25px 0 0 0;
    }

    .relevance__image {
        margin-bottom: 20px;
    }

    .relevance__body {
        padding: 0;
    }

    .relevance__subtitle {
        display: none;
    }

    .relevance__mobile-subtitle {
        display: block;
        text-align: center;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .relevance__image {
        flex: 0 0 50%;
        min-height: 250px;
    }
}

/* ========================= Page About-us Photo======================================= */

.about__container {
    padding-top: 40px;
}

.about-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.about-item {
    height: 190px;
    flex-basis: 22%;
}

.about-item img {
    max-width: 100%;
    max-height: 100%;
    outline: 6px solid #ffd223;
}

.about-item img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.02);
}

.about-item:nth-child(9),
.about-item:nth-child(10),
.about-item:nth-child(11),
.about-item:nth-child(12),
.about-item:nth-child(13),
.about-item:nth-child(14),
.about-item:nth-child(15),
.about-item:nth-child(16),
.about-item:nth-child(17),
.about-item:nth-child(18),
.about-item:nth-child(19),
.about-item:nth-child(20) {
    display: none;
}

/* PC */
@media (max-width: 1087px) {
    .about-item {
        height: 160px;
    }

    .about-item:nth-child(9) {
        display: none;
    }
}

/* TABLET */
@media (max-width: 991.98px) {

    .about__container {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .about-item {
        flex-basis: 30%;
    }

    .about-item:nth-child(7),
    .about-item:nth-child(8) {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    .about-body {
        text-align: center;
        gap: 15px;
    }

    .about-item {
        height: 220px;
        flex-basis: 30%;
    }

    .about-item:nth-child(1),
    .about-item:nth-child(2),
    .about-item:nth-child(3),
    .about-item:nth-child(4),
    .about-item:nth-child(5),
    .about-item:nth-child(6) {
        display: none;
    }

    .about-item:nth-child(9),
    .about-item:nth-child(12),
    .about-item:nth-child(14) {
        display: block;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .about-body {
        gap: 30px;
    }

    .about-item {
        height: 200px;
        flex-basis: 100%;
    }

    .about-item:nth-child(9),
    .about-item:nth-child(12),
    .about-item:nth-child(14) {
        display: none;
    }

    .about-item:nth-child(3),
    .about-item:nth-child(4) {
        display: block;
    }
}

/* ========================= Page News======================================= */

.page-news {
    margin-top: 90px;
}

.page-news__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-news-page__title {
    text-align: center;
    max-width: 720px;
}

.item-news-page__image {
    max-width: 720px;
}

.item-news-page__image img {
    max-width: 100%;
    object-fit: contain;
}

.item-news-page__data {
    padding: 0 30px 20px;
}

.item-news-page__text {
    padding: 20px 0 0;
    text-align: justify;
    font-size: 16px;
}

.item-news-page__button {
    margin-top: 40px;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .page-news {
        margin-top: 75px;
    }

    .item-news-page__text {
        font-size: 14px;
    }
}